.about-content {
    width: 80%;
    height: 100%;

    padding-left: 140px;
}

.about-title {
    margin-bottom: 20px;

    font-family: Garnata Regular;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 6px;
    color: #414141;
    text-transform: uppercase;
}

.about-subtitle {
    margin-bottom: 25px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #747474;
    text-transform: uppercase;
}

.about-text {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 1px;
    color: #828282;
}