.modal-full {
    min-width: 100%;
    margin: 0;

    text-align: center;
}

.modal-full .modal-content {
    min-height: 100vh;
}

.modal-header {
    padding: 50px 0 0;
    border: 0;
}

.modal-img {
    width: 100%;
    height: 500px;
}

.modal-title {
    margin-bottom: 20px;

    font-family: Garnata Regular;
    font-size: 42px;
    font-weight: 700;
    color: #414141;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.modal-subtitle {
    margin-bottom: 50px;

    font-size: 16px;
    font-weight: 400;
    color: #747474;
    text-transform: uppercase;
}

.close {
    font-size: 35px;

    position: absolute;
    right: 50px;
    z-index: 1;
}