#before-load {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 1001;
}

#before-load i {
    font-size: 140px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin: -70px 0 0 -70px;
}